# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Environments
.env
.venv/
venv/
bin/
include/
lib/
lib64/
pyvenv.cfg
instance/

# Version control
.git
.gitignore

# Editor directories and files
.vscode/
.idea/
*.swp

# Data artifacts
/data/
/tmp/

# Logs
*.log

# Test and local tooling artifacts
.coverage
.coverage.*
.pytest_cache/

# Jupyter notebooks
*.ipynb_checkpoints
